<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <form action='/create' method='post'>
      {% csrf_token %}
      <label>Name:</label>
      <input type='text' name='name'>
      <p></p>
      <label>Description:</label>
      <input type='text' name='description'>
      <p></p>
      <input type='submit' value='Submit'>
    </form>


    <table>
        <tr>
          <th>Course Name</th>
          <th>Description</th>
          <th></th>
          <th>Date Added</th>
          <th>Actions</th>
        </tr>
        {% for course in courses%}
        <tr>
          <td>{{course.name}}</td>
          <td>{{course.description.content}}</td>
          <td></td>
          <td>{{course.created_at}}</td>
          <td><a href='courses/destroy/{{course.id}}'>remove</a></td>

        </tr>
        {%endfor%}

    </table>
  </body>
</html>
